body {
  font-family: "Mulish", sans-serif;
}

/* 
----------------------------------
navbar-nav and nav-item style start
------------------------------------
*/
.navbar-nav .nav-item {
  margin-left: 40px;
}
.home {
  font-weight: 800;
}
/* 
--------------------------------
navbar-nav and nav-item style end
----------------------------------
*/

/*
-----------------------
healthcare style start 
------------------------
*/
.healthcare-title {
  font-size: 48px;
  font-weight: 700;
  color: springgreen;
}
.healthcare-details {
  color: #7d7987;
  font-size: 18px;
  line-height: 32px;
}
/*
-------------------------
healthcare style end 
---------------------------
*/

/*
-----------------------
services style end 
----------------------
*/

.services-text {
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
  text-align-last: center;
  color: #7d7987;
}
/* 
----------------------
services  style end  
----------------------
*/

/* 
--------------------------
services card style start 
-------------------------
*/

.card {
  box-shadow: 10px 10px 30px lightgray;
  border-radius: 15px;
  border: 0;
  height: 320px;
}
.card img {
  width: 90px;
  height: 90px;
}
.card-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
}
.card-text {
  font-size: 16px;
  line-height: 24px;
  color: #7d7987;
}

/* 
-------------------------
services card style end  
-------------------------
*/


/* 
--------------------------------
btn and leading part style start
---------------------------------
*/
.btn {
  width: 145px;
  height: 50px;
  border: 2px solid springgreen;
  color: springgreen;
  text-align: center;
}
.leading-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}
.leading-text {
  font-size: 16px;
  line-height: 30px;
  color: #7d7987;
}
/* 
--------------------------------
btn and leading part style end
---------------------------------
*/